# Яндекс OAuth Client ID
# Получить на https://oauth.yandex.ru/client/new
# Тип приложения: Веб-сервис
# Callback URI: http://localhost:5173 (для локальной разработки)
# Права доступа: login:info, login:email, direct:api
VITE_YANDEX_CLIENT_ID=your_client_id_here
